.container {
  width: 500px;
  min-height: 500px;
  height: fit-content;
  border: 1px solid var(--primary-border-color);
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
}

.header {
  border-bottom: 1px solid var(--primary-border-color);
  font-weight: 570;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  padding: 0.3rem 0 0.3rem 0;
}

.text {
  color: var(--secondary-color);
}
