.container {
  width: 500px;
  aspect-ratio: 3/2.5;
  border: 1px solid var(--primary-border-color);
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
}

.header {
  border-bottom: 1px solid var(--primary-border-color);
  font-weight: 570;
}

.text {
  color: var(--secondary-color);
}
