.filesPreview {
  width: 100%;
  display: flex;
  justify-content: end;
}
.nextButton {
  margin: 0.5rem;
  width: fit-content;
}

.createPostPanelBody {
  flex-grow: 1;
  background-color: var(--primary-body-color2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.createPostPanelBody div i {
  font-size: 3rem !important;
}

.iconsContainer {
  display: flex;
  margin-bottom: 1rem;
}

.selectButton {
  margin-top: 1.3rem;
  width: fit-content;
  padding: 0 1rem 0 1rem !important;
}

.text {
  color: var(--secondary-color);
}
