.SideNavbarNotisExtension {
  padding: 0 1rem 0 1rem;
  border-right: 1px solid var(--primary-border-color);
  height: 100%;
}

.heartBorder {
  border: 1px solid var(--secondary-color);
  width: 70px;
  aspect-ratio: 1/1 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.subText {
  font-size: 0.8rem;
  text-align: center;
}
