:root {
  --margin-x: 0.1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--primary-body-color2);
  height: 300px;

  flex-grow: 1;
}

.setCaptionBody {
  margin: 0.3rem var(--margin-x) 0.3rem var(--margin-x);

  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.textAreaContainer {
  margin-top: 0.3rem;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.textAreaContainer textarea {
  width: 98%;
  background-color: transparent !important;
  border: 1px solid var(--primary-body-color) !important;
  color: var(--secondary-color) !important;
}
