:root {
  --primary-body-color: white;
  --primary-body-color2: white;

  --primary-color: #fff;
  --secondary-color: rgb(38, 38, 38);

  --primary-border-color: #eeeeee;
  --primary-buttonHover-color: #eeeeee;
  /* --secondary-border-color: #eeeeee; */

  --red: #ff2929;
  --navy: #024caa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-body-color: rgba(0, 0, 0, 0.98);
    --primary-body-color2: rgb(38, 38, 38);

    --primary-color: rgb(38, 38, 38);
    --secondary-color: #fff;

    --primary-border-color: #3c3d37;
    --primary-buttonHover-color: #3c3d37;
    /* --secondary-border-color: #3c3d37; */
  }
}
