.container {
  position: fixed;
  top: 0;
  left: 0;
  width: fit-content;
  height: 100vh;
  background-color: var(--primary-fixedpospage-color);
  z-index: 2;
  display: flex;
}

.navbar {
  border-right: 1px solid var(--primary-border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 0 0.2rem 0 0.2rem;
}

@media (min-width: 1200px) {
  .navbar {
    align-items: start;
  }
}

.navbar div {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar i {
  display: block;
  font-size: 1.2rem;
}
