:root {
  --icon_size: 1.5rem;
}

.navbarButton {
  background-color: transparent;
  border: none;
  width: fit-content;
  height: fit-content;
  background-color: transparent !important;
  border: none !important;
}

.navbarButton i {
  font-size: var(--icon_size) !important;
  width: var(--icon_size);
  border-radius: 50%;
  overflow: hidden;
}
