:root {
  --icon_size: 1.5rem;
}

.navbarButton {
  flex-grow: 1;
  gap: 1rem;
  display: flex !important;
  align-items: center;
  width: fit-content;

  border: none !important;
  color: var(--secondary-color) !important;
}

@media (max-width: 767px) {
  .navbarButton {
    justify-content: center;
  }
}

.navbarButton:not(:hover) {
  background-color: transparent !important;
}

.navbarButton:hover {
  background-color: var(--primary-buttonHover-color) !important;
}

.navbarButton div {
  width: fit-content;
}

.navbarButton i {
  font-size: var(--icon_size) !important;
  width: var(--icon_size);
  aspect-ratio: 1/1;
}
